<div class="container-fluid mt-5 p-3">
    <!-- Button Group -->

    <div class=" ms-auto d-flex justify-content-between align-items-center w-full">

        <div class="d-flex gap-3 align-items-start ">
            <img src="assets/img/icons/fleche.png" style="margin-top: 8px;" alt="" width="10" height="10" />
            <p>Fornisseur </p>
        </div>

        <a href=""><img src="assets/img/icons/parametre.png" alt="" width="20" height="20" /></a>

    </div>
    <div class="col-12 d-flex flex-wrap  align-items-center">
        <div class="order-item d-flex align-items-center order-item-large col-md-2">


            <img class="product-image rounded-circle" src="assets/img/logoAdm.png" alt="Product Image"
                routerLink="commandes" />
            <div class="rounded-circle ">

            </div>
            <div class="product-info">

                <p><small class="">BOUTIQUE LENOVO</small></p>
                <small>Fornisseur:DK-FRD-345</small>
                <small>Inscrit le : 12/30/30 29:23</small>
            </div>
        </div>

        <div class="d-flex col-md-9 flex-wrap">
            <div style="width: 100%;display: flex;flex-wrap: wrap;gap: 10px;">
                
                <button style="width: 30%;min-width: 150px;height: 40px;border: 1px solid gainsboro;background-color: white;color: black;position: relative;border-radius: 4px;">
                    <img src="assets/img/icons/cart.png " style="position: absolute;left: 10px;" alt="" width="20"
                        height="20" />
                    Commandes</button>
                <button style="width: 30%;min-width: 150px;height: 40px;border: 1px solid gainsboro;background-color: white;color: black;position: relative;border-radius: 4px;">
                    <img src="assets/img/icons/product.png" style="position: absolute;left: 10px;" alt="" width="20"
                        height="20" />
                        Produits</button>
                <button style="width: 30%;min-width: 150px;height: 40px;border: 1px solid gainsboro;background-color: white;color: black;position: relative;border-radius: 4px;">
                    <img src="assets/img/icons/comptable.png" style="position: absolute;left: 10px;" alt="" width="20"
                        height="20" />
                        Comptable</button>

                    
                
                
            </div>
            
        </div>
        <div class="col-md-2 ms-auto d-flex justify-content-end align-items-start">
            <!-- <img src="assets/img/icons/filtre.png" alt="" width="30" height="30" /> -->
        </div>
    </div>

    <div class="row box-2">


        <!-- Cards -->
        <div class="row mt-3 gap-3">
            <div class="order-item w-auto " style="background-color: white;border-radius: 10px;box-shadow: 1px 1px 4px 1px rgba(128, 128, 128, 0.095);">
                <small>Info Fournisseur</small>
                <div class="d-flex align-items-center ">
                    <img class="product-image rounded-circle" src="assets/img/logoAdm.png" alt="Product Image"
                        routerLink="commandes" />

                

                
                    <div class="product-info">

                        <p><small class="">BOUTIQUE LENOVO</small></p>
                        <small>0102030405</small>
                    </div>
                </div>
            </div>
            <div class="order-item w-auto " style="background-color: white;border-radius: 10px;box-shadow: 1px 1px 4px 1px rgba(128, 128, 128, 0.095);">
                <small>Info Gerant 1</small>
                <div class="d-flex align-items-center ">
                    <img class="product-image rounded-circle" src="assets/img/profil/image_profil.jpeg" alt="Product Image"
                        routerLink="commandes" />

                

                
                    <div class="product-info">

                        <p><small class="">KOFFI MARCEL</small></p>
                        <small>0102030405</small>
                    </div>
                </div>
            </div>
            <div class="order-item w-auto " style="background-color: white;border-radius: 10px;box-shadow: 1px 1px 4px 1px rgba(128, 128, 128, 0.095);">
                <small>Info Gerant 2</small>
                <div class="d-flex align-items-center ">
                    <img class="product-image rounded-circle" src="assets/img/profil/image_profil.jpeg" alt="Product Image"
                        routerLink="commandes" />

                

                
                    <div class="product-info">

                        <p><small class="">YAO LUC</small></p>
                        <small>0102030405</small>
                    </div>
                </div>
            </div>
           
            <div class="order-item d-flex align-items-center w-auto " style="background-color: white;border-radius: 10px;box-shadow: 1px 1px 4px 1px rgba(128, 128, 128, 0.095);">


                <img class="product-image" src="assets/img/icons/profile.png"  alt="Product Image"
                    routerLink="commandes" />

                
                <div class="product-info">

                    <p><small class="">INFORMATION SUR COMPTE</small></p>
                    <small>0102030405</small>
                  
                </div>
            </div>
            
            
        </div>
        
    </div>
</div>


